<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:ns0="http://www.ros.org/wiki/xacro">
  <ns0:arg name="fixed_legs" default="false" />
  <ns0:property name="leg_joint_type" value="${'fixed' if '$(arg fixed_legs)' == 'true' else 'revolute'}" />
  <ns0:arg name="only_left" default="true" />
  <ns0:property name="waist_joint_type" value="${'fixed' if '$(arg only_left)' == 'true' or '$(arg fixed_legs)' == 'true' else 'revolute'}" />
  <joint name="waist_yaw_joint" type="${waist_joint_type}">
    <origin xyz="0.0333787 -0.000698852 -0.300748" rpy="0 0 0" />
    <parent link="urdf_base" />
    <child link="urdf_simplified_torso" />
    <axis xyz="0 0 1" />
    <limit effort="43" velocity="13.3" lower="-1.57" upper="1.57" />
    <dynamics damping="0.321" friction="3.21" />
  </joint>
</robot>