<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- Right Foot                                                        -->
  <!-- ================================================================== -->
  <joint name="right_hip_pitch_joint" type="${leg_joint_type}">
    <origin xyz="0.0333787 -0.107699 -0.467748" rpy="0 0 0"/>
    <parent link="urdf_base"/>
    <child link="urdf_hip_assembly_2"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" velocity="100" lower="-2.53" upper="1.57"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="right_hip_roll_joint" type="${leg_joint_type}">
    <origin xyz="0.055 -0.078 0" rpy="0 0 0"/>
    <parent link="urdf_hip_assembly_2"/>
    <child link="urdf_r_upper_femur_assemby"/>
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100" lower="-3.14" upper="0.35"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="right_hip_yaw_joint" type="${leg_joint_type}">
    <origin xyz="-0.053 7.97086e-07 -0.217" rpy="0 0 0"/>
    <parent link="urdf_r_upper_femur_assemby"/>
    <child link="urdf_lower_femur_assembly_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100" lower="-1.57" upper="1.57"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="right_knee_joint" type="${leg_joint_type}">
    <origin xyz="0 -0.055 -0.113" rpy="0 0 0"/>
    <parent link="urdf_lower_femur_assembly_2"/>
    <child link="urdf_r_tibia_assembly"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" velocity="100" lower="-0.17" upper="1.57"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="right_ankle_roll_joint" type="${leg_joint_type}">
    <origin xyz="-4.02748e-07 0.059 -0.395" rpy="0 0 0"/>
    <parent link="urdf_r_tibia_assembly"/>
    <child link="udrf_ankle_assembly_2"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" velocity="100" lower="-0.79" upper="0.79"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

  <joint name="right_ankle_pitch_joint" type="${leg_joint_type}">
    <origin xyz="-0.012 -0.004 -0.028" rpy="0 0 0"/>
    <parent link="udrf_ankle_assembly_2"/>
    <child link="urdf_foot_assembly_2"/>
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100" lower="-0.79" upper="0.79"/>
    <dynamics damping="0.5" friction="0.1"/>
  </joint>

</robot>
