<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- Right Foot                                                        -->
  <!-- ================================================================== -->
  <link name="urdf_hip_assembly_2">
    <inertial>
      <origin xyz="-0.00383245 -0.060314 3.46061e-05" rpy="0 0 0"/>
      <mass value="1.829"/>
      <inertia ixx="0.00318755" ixy="1.14857e-05" ixz="-2.56657e-07" iyy="0.00257831" iyz="-4.04073e-06" izz="0.00267314"/>
    </inertial>
    <visual>
      <origin xyz="0.03 -0.062 0" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/hip.stl"/>
      </geometry>
      <material name="hip_2_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.03 -0.062 0" rpy="-1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/hip.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.043 -0.062 0" rpy="1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_4_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
  </link>

  <link name="urdf_r_upper_femur_assemby">
    <inertial>
      <origin xyz="-0.0457109 -0.000406025 -0.147969" rpy="0 0 0"/>
      <mass value="1.912"/>
      <inertia ixx="0.00512969" ixy="-1.22901e-06" ixz="-0.000930002" iyy="0.00557257" iyz="5.18759e-05" izz="0.00336728"/>
    </inertial>
    <visual>
      <origin xyz="-0.0257799 -0.00151624 -0.111785" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/r_upper_femur.stl"/>
      </geometry>
      <material name="r_upper_femur_material">
        <color rgba="0.941176 0.87451 0.678431 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0257799 -0.00151624 -0.111785" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/r_upper_femur.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.053 -1.476e-09 -0.124" rpy="3.14159 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_5_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
  </link>

  <link name="urdf_lower_femur_assembly_2">
    <inertial>
      <origin xyz="9.05521e-10 0.00357383 -0.101307" rpy="0 0 0"/>
      <mass value="1.817"/>
      <inertia ixx="0.00383469" ixy="-1.04286e-09" ixz="2.0768e-08" iyy="0.00421827" iyz="0.00019709" izz="0.00258541"/>
    </inertial>
    <visual>
      <origin xyz="4.57402e-09 -0.00389134 -0.068766" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/lower_femur.stl"/>
      </geometry>
      <material name="lower_femur_2_material">
        <color rgba="0.380392 0.0470588 0.435294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="4.57402e-09 -0.00389134 -0.068766" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/lower_femur.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-1.14104e-07 0.043 -0.111" rpy="0 -1.57079 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_6_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
  </link>

  <link name="urdf_r_tibia_assembly">
    <inertial>
      <origin xyz="0.0160486 0.049057 -0.201684" rpy="0 0 0"/>
      <mass value="2.25839"/>
      <inertia ixx="0.0213378" ixy="-0.000249769" ixz="0.00171529" iyy="0.0219484" iyz="0.00197799" izz="0.00497656"/>
    </inertial>
    <visual>
      <origin xyz="0.05375 0.055 -0.16" rpy="3.14159 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/urdf_spacer_x4.stl"/>
      </geometry>
      <material name="urdf_spacer_x4_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.05375 0.055 -0.235" rpy="0 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/urdf_spacer_x4.stl"/>
      </geometry>
      <material name="urdf_spacer_x4_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.00122218 0.0432243 -0.186332" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/urdf_r_tibia_assembly.stl"/>
      </geometry>
      <material name="urdf_r_tibia_assembly_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00122218 0.0432243 -0.186332" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/urdf_r_tibia_assembly.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.018 0.055 -0.16" rpy="-1.5708 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x4_p36_36_unified.stl"/>
      </geometry>
      <material name="stator_x4_p36_36_unified_9_material">
        <color rgba="0.764706 0.545098 0.803922 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.0826406 0.08 -0.287645" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/tija_cs_255_290mm_urdf.stl"/>
      </geometry>
      <material name="tija_cs_255_290mm_urdf_2_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0826406 0.08 -0.287645" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/tija_cs_255_290mm_urdf.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0826406 0.03 -0.325122" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/tija_cs_180_243mm_urdf.stl"/>
      </geometry>
      <material name="tija_cs_180_243mm_urdf_2_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0826406 0.03 -0.325122" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/tija_cs_180_243mm_urdf.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.018 0.055 -0.235" rpy="1.57079 0 1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x4_p36_36_unified.stl"/>
      </geometry>
      <material name="stator_x4_p36_36_unified_10_material">
        <color rgba="0.764706 0.545098 0.803922 1"/>
      </material>
    </visual>
  </link>

  <link name="udrf_ankle_assembly_2">
    <inertial>
      <origin xyz="0 -0.004 -0.0125426" rpy="0 0 0"/>
      <mass value="0.0818219"/>
      <inertia ixx="1.69449e-05" ixy="-2.22156e-26" ixz="4.29315e-17" iyy="2.15245e-05" iyz="3.73894e-27" izz="1.25404e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 -0.004 -0.0125426" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/udrf_ankle_assembly.stl"/>
      </geometry>
      <material name="udrf_ankle_assembly_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.004 -0.0125426" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/udrf_ankle_assembly.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_foot_assembly_2">
    <inertial>
      <origin xyz="0.0433416 7.32629e-08 -0.0201829" rpy="0 0 0"/>
      <mass value="0.309"/>
      <inertia ixx="0.000230804" ixy="3.5947e-11" ixz="-7.60834e-06" iyy="0.00121491" iyz="-5.97259e-10" izz="0.00137887"/>
    </inertial>
    <visual>
      <origin xyz="0.0433416 7.31789e-08 -0.0201829" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/urdf_foot_assembly.stl"/>
      </geometry>
      <material name="urdf_foot_assembly_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0433416 7.31789e-08 -0.0201829" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/urdf_foot_assembly.stl"/>
      </geometry>
    </collision>
  </link>

</robot>
