<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- Body                                                              -->
  <!-- ================================================================== -->
  <link name="urdf_base">
    <inertial>
      <origin xyz="0.0334604 -0.000699269 -0.431702" rpy="0 0 0"/>
      <mass value="5.132"/>
      <inertia ixx="0.0288848" ixy="2.35276e-07" ixz="-2.88595e-05" iyy="0.0213139" iyz="-6.5838e-06" izz="0.0155352"/>
    </inertial>
    <visual>
      <origin xyz="0.0333787 0.0103011 -0.467748" rpy="-1.5708 0.785398 0"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="-0.00271429 -0.000697952 -0.432504" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/b_base.stl"/>
      </geometry>
      <material name="b_base_material">
        <color rgba="0.368627 0.25098 0.643137 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00271429 -0.000697952 -0.432504" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/b_base.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.0333787 -0.0116989 -0.467748" rpy="1.5708 -0.785398 0"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_2_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.0333787 -0.000698852 -0.396748" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_3_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0.070373 -0.000705351 -0.431099" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/f_base.stl"/>
      </geometry>
      <material name="f_base_material">
        <color rgba="0.909804 0.572549 0.164706 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.070373 -0.000705351 -0.431099" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/f_base.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="urdf_simplified_torso">
    <inertial>
      <origin xyz="0.00199118 -4.1776e-05 0.327574" rpy="0 0 0"/>
      <mass value="5.9"/>
      <inertia ixx="0.320832" ixy="5.08517e-07" ixz="-0.00443482" iyy="0.294153" iyz="9.68158e-05" izz="0.076931"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.26095" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/urdf_simplified_torso.stl"/>
      </geometry>
      <material name="urdf_simplified_torso_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.26095" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/urdf_simplified_torso.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="4.03711e-05 -0.000382221 0.67095" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/head.stl"/>
      </geometry>
      <material name="head_material">
        <color rgba="0.737255 0.937255 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="4.03711e-05 -0.000382221 0.67095" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/collision/head.stl"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="4.03711e-05 -0.000382221 0.672878" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://full_robot_description/meshes/visual/back_access.stl"/>
      </geometry>
      <material name="back_access_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
  </link>

</robot>
