<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Link urdf_hip_assembly -->
  <link name="urdf_hip_assembly">
    <inertial>
      <origin xyz="-0.00420762 -6.23945e-06 -0.0689982" rpy="0 0 0"/>
      <mass value="1.73"/>
      <inertia ixx="0.00302301" ixy="4.5747e-08" ixz="-2.30858e-05" iyy="0.00263533" iyz="8.49179e-07" izz="0.00228746"/>
    </inertial>
    <!-- Part hip -->
    <visual>
      <origin xyz="0.00253653 -3.27638e-05 -0.0520203" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hip.stl"/>
      </geometry>
      <material name="hip_material">
        <color rgba="0.0627451 0.266667 0.490196 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00253653 -3.27638e-05 -0.0520203" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/hip.stl"/>
      </geometry>
    </collision>
    <!-- Part stator_x8_p20_120_unified_4 -->
    <visual>
      <origin xyz="-0.043 0 -0.073" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_4_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.043 0 -0.073" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120_unified.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link urdf_l_upper_femur_assembly -->
  <link name="urdf_l_upper_femur_assembly">
    <inertial>
      <origin xyz="-0.000406021 -0.148741 0.0457109" rpy="0 0 0"/>
      <mass value="1.912"/>
      <inertia ixx="0.0056213" ixy="5.24747e-05" ixz="1.15373e-06" iyy="0.00336495" iyz="0.000940749" izz="0.0051989"/>
    </inertial>
    <!-- Part l_upper_femur -->
    <visual>
      <origin xyz="-0.00151622 -0.111785 0.0257799" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/l_upper_femur.stl"/>
      </geometry>
      <material name="l_upper_femur_material">
        <color rgba="0.141176 0.694118 0.65098 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00151622 -0.111785 0.0257799" rpy="-1.5708 0 -0"/>
      <geometry>
        <mesh filename="package://assets/l_upper_femur.stl"/>
      </geometry>
    </collision>
    <!-- Part rotor_x8_p20_120 -->
    <visual>
      <origin xyz="0 -0.124 0.053" rpy="-1.5708 -0.420575 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/rotor_x8_p20_120.stl"/>
      </geometry>
      <material name="rotor_x8_p20_120_material">
        <color rgba="0.596078 0.176471 0.0509804 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.124 0.053" rpy="-1.5708 -0.420575 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/rotor_x8_p20_120.stl"/>
      </geometry>
    </collision>
    <!-- Part stator_x8_p20_120 -->
    <visual>
      <origin xyz="0 -0.124 0.053" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.124 0.053" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link urdf_lower_femur_assembly -->
  <link name="urdf_lower_femur_assembly">
    <inertial>
      <origin xyz="0.00357383 -1.0389e-08 -0.103307" rpy="0 0 0"/>
      <mass value="1.817"/>
      <inertia ixx="0.00421827" ixy="2.5e-11" ixz="0.00019709" iyy="0.00383469" iyz="-2.1291e-08" izz="0.00258541"/>
    </inertial>
    <!-- Part lower_femur -->
    <visual>
      <origin xyz="-0.00389134 5.752e-09 -0.070766" rpy="0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/lower_femur.stl"/>
      </geometry>
      <material name="lower_femur_material">
        <color rgba="0.380392 0.0470588 0.435294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00389134 5.752e-09 -0.070766" rpy="0 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/lower_femur.stl"/>
      </geometry>
    </collision>
    <!-- Part stator_x8_p20_120_unified_5 -->
    <visual>
      <origin xyz="0.043 0 -0.113" rpy="-0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120_unified.stl"/>
      </geometry>
      <material name="stator_x8_p20_120_unified_5_material">
        <color rgba="0.882353 0.572549 0.478431 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.043 0 -0.113" rpy="-0 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x8_p20_120_unified.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link urdf_l_tibia_assembly -->
  <link name="urdf_l_tibia_assembly">
    <inertial>
      <origin xyz="0.0151319 -0.253045 0.0519322" rpy="0 0 0"/>
      <mass value="4.89318"/>
      <inertia ixx="0.070962" ixy="0.00320068" ixz="-0.000216176" iyy="0.00924194" iyz="0.00255494" izz="0.0742001"/>
    </inertial>
    <!-- Part m6_threaded_bar_300mm -->
    <visual>
      <origin xyz="0.08085 -0.287625 0.0729994" rpy="-1.51492 0.191373 -0.0274192"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_bar_300mm.stl"/>
      </geometry>
      <material name="m6_threaded_bar_300mm_material">
        <color rgba="0.141176 0.0352941 0.396078 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.08085 -0.287625 0.0729994" rpy="-1.51492 0.191373 -0.0274192"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_bar_300mm.stl"/>
      </geometry>
    </collision>
    <!-- Part m6_threaded_bar_225mm -->
    <visual>
      <origin xyz="0.08085 -0.325171 0.0360012" rpy="1.63833 -0.167879 3.07635"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_bar_225mm.stl"/>
      </geometry>
      <material name="m6_threaded_bar_225mm_material">
        <color rgba="0.27451 0.0117647 0.317647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.08085 -0.325171 0.0360012" rpy="1.63833 -0.167879 3.07635"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_bar_225mm.stl"/>
      </geometry>
    </collision>
    <!-- Part shoe -->
    <visual>
      <origin xyz="0.0303243 -0.449431 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/shoe.stl"/>
      </geometry>
      <material name="shoe_material">
        <color rgba="0.0862745 0.321569 0.580392 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0303243 -0.449431 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/shoe.stl"/>
      </geometry>
    </collision>
    <!-- Part lower_fixation_leg_lontrol -->
    <visual>
      <origin xyz="0.0565 -0.424448 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/lower_fixation_leg_lontrol.stl"/>
      </geometry>
      <material name="lower_fixation_leg_lontrol_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0565 -0.424448 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/lower_fixation_leg_lontrol.stl"/>
      </geometry>
    </collision>
    <!-- Part foot -->
    <visual>
      <origin xyz="0.030138 -0.444982 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/foot.stl"/>
      </geometry>
      <material name="foot_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.030138 -0.444982 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/foot.stl"/>
      </geometry>
    </collision>
    <!-- Part spacer_bottom_tibia -->
    <visual>
      <origin xyz="0 -0.3755 0.055" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/spacer_bottom_tibia.stl"/>
      </geometry>
      <material name="spacer_bottom_tibia_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.3755 0.055" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/spacer_bottom_tibia.stl"/>
      </geometry>
    </collision>
    <!-- Part l_tibia -->
    <visual>
      <origin xyz="0.000691668 -0.182574 0.0429128" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/l_tibia.stl"/>
      </geometry>
      <material name="l_tibia_material">
        <color rgba="0.513725 0.415686 0.733333 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.000691668 -0.182574 0.0429128" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/l_tibia.stl"/>
      </geometry>
    </collision>
    <!-- Part m6_threaded_eye -->
    <visual>
      <origin xyz="0.076 -0.415 0.042" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
      <material name="m6_threaded_eye_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.076 -0.415 0.042" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
    </collision>
    <!-- Part 12_7mm_ball_with_6mm_hole -->
    <visual>
      <origin xyz="0.076 -0.415 0.042" rpy="2.76264 -1.38996 0.319398"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
      <material name="12_7mm_ball_with_6mm_hole_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.076 -0.415 0.042" rpy="2.76264 -1.38996 0.319398"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
    </collision>
    <!-- Part rulment_d22_x_d8_x_t7 -->
    <visual>
      <origin xyz="0.0165 -0.423 0.054" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
      <material name="rulment_d22_x_d8_x_t7_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0165 -0.423 0.054" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_bearing_house -->
    <visual>
      <origin xyz="0.0191799 -0.428357 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
      <material name="ankle_bearing_house_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0191799 -0.428357 0.054" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
    </collision>
    <!-- Part m6_threaded_eye_2 -->
    <visual>
      <origin xyz="0.076 -0.415 0.066" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
      <material name="m6_threaded_eye_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.076 -0.415 0.066" rpy="-3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
    </collision>
    <!-- Part 12_7mm_ball_with_6mm_hole_2 -->
    <visual>
      <origin xyz="0.076 -0.415 0.066" rpy="-3.08572 0.191373 -0.0274192"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
      <material name="12_7mm_ball_with_6mm_hole_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.076 -0.415 0.066" rpy="-3.08572 0.191373 -0.0274192"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
    </collision>
    <!-- Part rulment_d22_x_d8_x_t7_2 -->
    <visual>
      <origin xyz="-0.0165 -0.423 0.054" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
      <material name="rulment_d22_x_d8_x_t7_2_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0165 -0.423 0.054" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_bearing_house_2 -->
    <visual>
      <origin xyz="-0.0191799 -0.428357 0.054" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
      <material name="ankle_bearing_house_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0191799 -0.428357 0.054" rpy="-1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
    </collision>
    <!-- Part rulment_d22_x_d8_x_t7_3 -->
    <visual>
      <origin xyz="0 -0.395 0.0445" rpy="1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
      <material name="rulment_d22_x_d8_x_t7_3_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.395 0.0445" rpy="1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_bearing_house_3 -->
    <visual>
      <origin xyz="-0 -0.389643 0.0418201" rpy="-1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
      <material name="ankle_bearing_house_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0.389643 0.0418201" rpy="-1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
    </collision>
    <!-- Part rotor_x4_p36_36 -->
    <visual>
      <origin xyz="-0.018 -0.16 0.055" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rotor_x4_p36_36.stl"/>
      </geometry>
      <material name="rotor_x4_p36_36_material">
        <color rgba="0.380392 0.0470588 0.435294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.018 -0.16 0.055" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rotor_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- Part stator_x4_p36_36 -->
    <visual>
      <origin xyz="-0.018 -0.16 0.055" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x4_p36_36.stl"/>
      </geometry>
      <material name="stator_x4_p36_36_material">
        <color rgba="0.764706 0.545098 0.803922 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.018 -0.16 0.055" rpy="3.14159 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- Part rotor_x4_p36_36_2 -->
    <visual>
      <origin xyz="-0.018 -0.235 0.055" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rotor_x4_p36_36.stl"/>
      </geometry>
      <material name="rotor_x4_p36_36_2_material">
        <color rgba="0.380392 0.0470588 0.435294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.018 -0.235 0.055" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/rotor_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- Part stator_x4_p36_36_2 -->
    <visual>
      <origin xyz="-0.018 -0.235 0.055" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x4_p36_36.stl"/>
      </geometry>
      <material name="stator_x4_p36_36_2_material">
        <color rgba="0.764706 0.545098 0.803922 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.018 -0.235 0.055" rpy="-0 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/stator_x4_p36_36.stl"/>
      </geometry>
    </collision>
    <!-- Part rulment_d22_x_d8_x_t7_4 -->
    <visual>
      <origin xyz="-0 -0.395 0.0655" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
      <material name="rulment_d22_x_d8_x_t7_4_material">
        <color rgba="0.901961 0.901961 0.901961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0.395 0.0655" rpy="-1.5708 0 0"/>
      <geometry>
        <mesh filename="package://assets/rulment_d22_x_d8_x_t7.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_bearing_house_4 -->
    <visual>
      <origin xyz="0 -0.389643 0.0681799" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
      <material name="ankle_bearing_house_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.389643 0.0681799" rpy="1.5708 -0 -0"/>
      <geometry>
        <mesh filename="package://assets/ankle_bearing_house.stl"/>
      </geometry>
    </collision>
    <!-- Part lever_ankle -->
    <visual>
      <origin xyz="0.066 -0.235073 0.0496487" rpy="-0 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lever_ankle.stl"/>
      </geometry>
      <material name="lever_ankle_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.066 -0.235073 0.0496487" rpy="-0 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lever_ankle.stl"/>
      </geometry>
    </collision>
    <!-- Part hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf -->
    <visual>
      <origin xyz="0.0701 -0.235342 0.0300023" rpy="1.5708 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf.stl"/>
      </geometry>
      <material name="hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0701 -0.235342 0.0300023" rpy="1.5708 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf.stl"/>
      </geometry>
    </collision>
    <!-- Part spacer_lever_ankle -->
    <visual>
      <origin xyz="0.05375 -0.235 0.055" rpy="-0 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/spacer_lever_ankle.stl"/>
      </geometry>
      <material name="spacer_lever_ankle_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.05375 -0.235 0.055" rpy="-0 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/spacer_lever_ankle.stl"/>
      </geometry>
    </collision>
    <!-- Part lever_ankle_2 -->
    <visual>
      <origin xyz="0.066 -0.160053 0.0603516" rpy="0 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lever_ankle.stl"/>
      </geometry>
      <material name="lever_ankle_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.066 -0.160053 0.0603516" rpy="0 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/lever_ankle.stl"/>
      </geometry>
    </collision>
    <!-- Part hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf_2 -->
    <visual>
      <origin xyz="0.0701 -0.16025 0.0799988" rpy="1.5708 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf.stl"/>
      </geometry>
      <material name="hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf_2_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0701 -0.16025 0.0799988" rpy="1.5708 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/hex_nut_grade_a___b_m6x1__7468f1fe59412d2a2604ecf8e993c3bf.stl"/>
      </geometry>
    </collision>
    <!-- Part spacer_lever_ankle_2 -->
    <visual>
      <origin xyz="0.05375 -0.16 0.055" rpy="-0 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/spacer_lever_ankle.stl"/>
      </geometry>
      <material name="spacer_lever_ankle_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.05375 -0.16 0.055" rpy="-0 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/spacer_lever_ankle.stl"/>
      </geometry>
    </collision>
    <!-- Part m6_threaded_eye_3 -->
    <visual>
      <origin xyz="0.0857 -0.235342 0.0300023" rpy="1.5708 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
      <material name="m6_threaded_eye_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0857 -0.235342 0.0300023" rpy="1.5708 -1.5571 1.5708"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
    </collision>
    <!-- Part 12_7mm_ball_with_6mm_hole_3 -->
    <visual>
      <origin xyz="0.0857 -0.235342 0.0300023" rpy="0.0675358 -0.167879 3.07635"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
      <material name="12_7mm_ball_with_6mm_hole_3_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0857 -0.235342 0.0300023" rpy="0.0675358 -0.167879 3.07635"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
    </collision>
    <!-- Part m6_threaded_eye_4 -->
    <visual>
      <origin xyz="0.0857 -0.16025 0.0799988" rpy="1.5708 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
      <material name="m6_threaded_eye_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0857 -0.16025 0.0799988" rpy="1.5708 1.5608 1.5708"/>
      <geometry>
        <mesh filename="package://assets/m6_threaded_eye.stl"/>
      </geometry>
    </collision>
    <!-- Part 12_7mm_ball_with_6mm_hole_4 -->
    <visual>
      <origin xyz="0.0857 -0.16025 0.0799988" rpy="3.08572 -0.191373 3.11417"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
      <material name="12_7mm_ball_with_6mm_hole_4_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0857 -0.16025 0.0799988" rpy="3.08572 -0.191373 3.11417"/>
      <geometry>
        <mesh filename="package://assets/12_7mm_ball_with_6mm_hole.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link ankle_assembly -->
  <link name="ankle_assembly">
    <inertial>
      <origin xyz="-0 0.0125447 -0.024" rpy="0 0 0"/>
      <mass value="0.0816337"/>
      <inertia ixx="1.68911e-05" ixy="-0" ixz="0" iyy="1.24715e-05" iyz="-0" izz="2.14344e-05"/>
    </inertial>
    <!-- Part upper_ankle_shaft -->
    <visual>
      <origin xyz="0 0 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_ankle_shaft.stl"/>
      </geometry>
      <material name="upper_ankle_shaft_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_ankle_shaft.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_ear -->
    <visual>
      <origin xyz="-0 0.00917229 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_ear.stl"/>
      </geometry>
      <material name="ankle_ear_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.00917229 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_ear.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_shaft -->
    <visual>
      <origin xyz="-0 0.028 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_shaft.stl"/>
      </geometry>
      <material name="ankle_shaft_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.028 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_shaft.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- Link ankle_assembly_2 -->
  <link name="ankle_assembly_2">
    <inertial>
      <origin xyz="-0 0.0125447 -0.024" rpy="0 0 0"/>
      <mass value="0.0816337"/>
      <inertia ixx="1.68911e-05" ixy="-0" ixz="0" iyy="1.24715e-05" iyz="-0" izz="2.14344e-05"/>
    </inertial>
    <!-- Part upper_ankle_shaft_2 -->
    <visual>
      <origin xyz="0 0 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_ankle_shaft.stl"/>
      </geometry>
      <material name="upper_ankle_shaft_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/upper_ankle_shaft.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_ear_2 -->
    <visual>
      <origin xyz="-0 0.00917229 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_ear.stl"/>
      </geometry>
      <material name="ankle_ear_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.00917229 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_ear.stl"/>
      </geometry>
    </collision>
    <!-- Part ankle_shaft_2 -->
    <visual>
      <origin xyz="-0 0.028 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_shaft.stl"/>
      </geometry>
      <material name="ankle_shaft_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.028 -0.024" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/ankle_shaft.stl"/>
      </geometry>
    </collision>
  </link>

</robot>
