<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ================================================================== -->
  <!-- Left Foot                                                         -->
  <!-- ================================================================== -->
  <joint name="left_hip_pitch_joint_X8" type="${leg_joint_type}">
    <origin xyz="-0.015194 0.0881676 -0.0706295" rpy="0 0 0"/>
    <parent link="urdf_base"/>
    <child link="urdf_hip_assembly"/>
    <axis xyz="0 1 0"/>
    <limit effort="${X8_moderate_effort}" velocity="${X8_rated_velocity}" lower="-2.61799" upper="2.61799"/>
    <dynamics damping="${X8_damping}" friction="${X8_friction}"/>
  </joint>

  <joint name="left_hip_roll_joint_X8" type="${leg_joint_type}">
    <origin xyz="0.053 0.062 0" rpy="0 0 0"/>
    <parent link="urdf_hip_assembly"/>
    <child link="urdf_l_upper_femur_assembly"/>
    <axis xyz="1 0 0"/>
    <limit effort="${X8_moderate_effort}" velocity="${X8_rated_velocity}" lower="-0.383972" upper="3.22886"/>
    <dynamics damping="${X8_damping}" friction="${X8_friction}"/>
  </joint>

  <joint name="left_hip_yaw_joint_X8" type="${leg_joint_type}">
    <origin xyz="-0.053 0 -0.217" rpy="0 0 0"/>
    <parent link="urdf_l_upper_femur_assembly"/>
    <child link="urdf_lower_femur_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="${X8_moderate_effort}" velocity="${X8_rated_velocity}" lower="-2.15199" upper="2.09003"/>
    <dynamics damping="${X8_damping}" friction="${X8_friction}"/>
  </joint>

  <joint name="left_knee_joint_X8" type="${leg_joint_type}">
    <origin xyz="-1.45947e-07 0.055 -0.111" rpy="0 0 0"/>
    <parent link="urdf_lower_femur_assembly"/>
    <child link="urdf_l_tibia_assembly"/>
    <axis xyz="0 1 0"/>
    <limit effort="${X8_moderate_effort}" velocity="${X8_rated_velocity}" lower="-1.52716" upper="1.52716"/>
    <dynamics damping="${X8_damping}" friction="${X8_friction}"/>
  </joint>

  <joint name="left_ankle_pitch_joint_X4" type="${leg_joint_type}">
    <origin xyz="0 -0.051 -0.395" rpy="0 0 0"/>
    <parent link="urdf_l_tibia_assembly"/>
    <child link="udrf_ankle_assembly"/>
    <axis xyz="0 1 0"/>
    <limit effort="${X4_moderate_effort}" velocity="${X4_rated_velocity}" lower="-0.785398" upper="0.785398"/>
    <dynamics damping="${X4_damping}" friction="${X4_friction}"/>
  </joint>

  <joint name="left_ankle_roll_joint_X4" type="${leg_joint_type}">
    <origin xyz="-0.012 -0.004 -0.028" rpy="0 0 0"/>
    <parent link="udrf_ankle_assembly"/>
    <child link="urdf_foot_assembly"/>
    <axis xyz="1 0 0"/>
    <limit effort="${X4_moderate_effort}" velocity="${X4_rated_velocity}" lower="-0.785398" upper="0.785398"/>
    <dynamics damping="${X4_damping}" friction="${X4_friction}"/>
  </joint>

</robot>
